<div>
    <div class="row" id="mainTopRow">
        <div class="col">
            <h1>Find new hackable targets</h1>
        </div>
        <div class="col-3 form-outline">
            <input type="search" id="form1" class="form-control" placeholder="Search" aria-label="Search" />
          </div>
    </div>
    <div class="row" id="mainBotRow"> 
        <div class="col-3" id="leftCol">
            <div id="head">Type</div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                <label class="form-check-label" for="flexRadioDefault1">
                  All
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                <label class="form-check-label" for="flexRadioDefault2">
                  Published
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                <label class="form-check-label" for="flexRadioDefault2">
                  Disclosed
                </label>
            </div>
        </div>
        <div class="col" id="mainCol">
            <table class="table table-hover ">
                <thead class="thead-dark">
                    <tr>
                        <td>Program name</td>
                        <td>Launched on</td>
                        <td>Reports</td>
                        <td>Average bounties</td>
                    </tr>
                </thead>
                <tbody>
                <tr *ngFor="let program of programs;" id="tRow">
                    <td><a [routerLink]="['/program/'+program.id]">{{program.name}}</a></td>
                    <td>{{program.createdAt | date:"MM/dd/YYYY"}} </td>
                    <td>{{program.numberOfReports}}</td>
                    <td>N/A</td>
                    <td><button id="visit" [routerLink]="['/program/'+program.id]">Visit Program</button></td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
    
</div>