<div id="container">
    <div id="headers" class="my-flex">
      <h2><u>Activities</u></h2>
    </div>
    <div id="content">
        <table class="table table-hover ">
            <thead class="thead-dark">
                <tr>
                    <td>Activity</td>
                    <td>Type</td>
                    <td>Details</td>
                    <td>Date</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let activity of activities">
                    <td>{{ activity.name}}</td>
                    <td>{{activity.type}}</td>
                    <td>{{activity.date}}</td>
                    <td>{{activity.details}}</td>

                </tr>
            </tbody>
        </table>
    </div>
  </div>
  