#container {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 50%;
    background-color: #1a2332;
    padding: 0;
    border-radius: 4px;
    color: #505e6c;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
    margin-top: 50px;
    
  }
  .my-flex {
    width:90%;
    margin: 0 auto;
  }
  :host ::ng-deep .mat-tab-label{
      color:#fff;
  }
  
  table {
    width: 90%;
    margin: 0 auto;
}
#hacker{
    color:#e19c05;
    text-decoration: none;
}
#program {
    color:#e19c05;
    text-decoration: none;
}
#hacker:hover{
    text-shadow: 0 0 1px #e19c05;
}
#program:hover{
    text-shadow: 0 0 1px #e19c05;
}
table {
    text-align: center;
}
thead tr td {
    color: #e19c05;
}
h2 {
  text-align: center;
  color : #e19c05;
}
tbody tr td {
    color:#fff;
}
 
#visit{
    max-width: 250px;
    background-color: transparent;
    border-color: #9fef00;
    box-shadow: 0 0 2px #9fef00;
    border-radius: 10px;
    color:#fff;
}
#visit:hover{
    background-color: transparent;
    border-color: #9fef00;
    box-shadow: 0 0 10px #9fef00
}
#collapseExample{
    width:100%;
}