<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-secondary text-uppercase" id="mainNav">
    <div class="container"><a class="navbar-brand js-scroll-trigger" [routerLink]="['']" routerLinkActive="active">BUG-BOUNTY</a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler text-white bg-primary navbar-toggler-right text-uppercase rounded" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" [routerLink]="['hacktivity']" routerLinkActive="active">Hacktivitiy</a></li>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" [routerLink]="['directory']" routerLinkActive="active">Directory</a></li>

                <li *ngIf="!lgService.isLoggedIn()" class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" [routerLink]="['register']" routerLinkActive="active">Sign Up</a></li>
                <li *ngIf="!lgService.isLoggedIn()" class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" [routerLink]="['login']" routerLinkActive="active">Log In</a></li>
                <li *ngIf="lgService.isLoggedIn()&&checkRole('company')" class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"  [routerLink]="['program']" routerLinkActive="active">Programs</a></li>
                <li *ngIf="lgService.isLoggedIn()" class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"  [routerLink]="['activity']" [queryParams]="{'type':lgService.getRole()}" routerLinkActive="active"> <i class="far fa-bell"></i> &nbsp;Activity</a></li>
                <div class="dropdown" style="text-align: left;margin-top: 5px;" *ngIf="lgService.isLoggedIn()">
                    <a href="#" id="imageDropdown" data-toggle="dropdown">
                        <img class="img-responsive rounded" style="height:40px;width:40px;" src="assets/img/profile_image.png">
                      </a>
                    <div class="dropdown-menu dropdown-menu-center" >
                        <a [routerLink]="['profile']" [queryParams]="{'type':lgService.getRole()}" routerLinkActive="active" class="dropdown-item" href="#">Manage profile</a>
                        <a [routerLink]="['support']" routerLinkActive="active" class="dropdown-item" href="#">Support</a>
                        <a (click)="lgService.logout()" class="dropdown-item" href="#">Log Out</a>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</nav>
