<section class="container-clean">
    <form #container="ngForm">
        <div class="illustration">
            <h1 style="color: #ffffff;text-align: center;">Program : <span style="color:#9fef00">{{prog_name}}</span></h1>
            <div class="row" style="text-align: center;">
                <div class="col"><h3>Reports Resolved : <span>5</span></h3></div>
                <div class="col"><h3>Average bounty : <span>90$</span></h3></div>
            </div>
            <div class="row" style="text-align: center;">
                <div class="col"><h3>Program Launched On : <span>24/05/2019</span></h3></div>
                <div class="col"><button type="button" class="btn btn-info btn-lg" >Submit report</button></div>
            </div>
            <hr/>
            <div class="row">
                <div class="col" style="color: #ffffff;"><h1>Policy</h1></div>
                <div class="col"><h2></h2></div>
            </div>
            <div>
                <p>
                    Reddit’s responsible disclosure and bug bounty program is focused on protecting our users’ private data, accounts, and identities. The vast majority of data posted to Reddit every day is intended to be public, however Reddit does host private data including messages, chats, voting records for accounts without the public voting option enabled, subreddit subscriptions (when tied to a user), and (optional) email addresses.
                </p>
            </div>
            <div class="row">
                <div class="col" style="color: #ffffff;"><h1>In Scope</h1></div>
                <div class="col"><h2></h2></div>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Domain</th>
                        <th scope="col">Severity</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>www.twitter.com</td>
                        <td>High</td>    
                      </tr>
                      <tr>
                        <td>www.api-twitter.com</td>
                        <td>Critical</td>    
                      </tr>
                    </tbody>
                  </table>
            </div>

            <div class="row">
                <div class="col" style="color: #ffffff;"><h1>Out Of Scope</h1></div>
                <div class="col"><h2></h2></div>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Domain</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>www.twitter-tefeh.com</td>
                      </tr>

                    </tbody>
                  </table>
            </div>
        </div>
    </form>
</section>