<section class="container-clean">
    <form>
        <div class="illustration">
            <h1 style="color: #ffffff;text-align: center;">Program : <span style="color:#9fef00">{{program.name}}</span></h1>
            <div class="row" style="text-align: center;">
                <div class="col"><h3>Reports Resolved : <span>5</span></h3></div>
                <div class="col"><h3>Average bounty : <span>90$</span></h3></div>
            </div>
            <div class="row" style="text-align: center;">
                <div class="col"><h3>Program Launched On : <span>{{program.createdAt | date:"MM/dd/YYYY"}}</span></h3></div>
                <div class="col"><button type="button" class="btn btn-info btn-lg" (click)="openSubmitDialog()" >Submit report</button></div>
            </div>
            <hr/>
            <div class="row">
                <div class="col" style="color: #ffffff;"><h1>Policy</h1></div>
                <div class="col"><h2></h2></div>
            </div>
            <div>
                <p>
                    {{program.policy}}
                </p>
            </div>
            <div class="row">
                <div class="col" style="color: #ffffff;"><h1>In Scope</h1></div>
                <div class="col"><h2></h2></div>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Domain</th>
                        <th scope="col">Severity</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let inscope of program.inScope;let i = index">
                        <td>{{inscope}}</td>
                        <td>{{program.severity[i]}}</td>
                      </tr>
                    </tbody>
                  </table>
            </div>

            <div class="row">
                <div class="col" style="color: #ffffff;"><h1>Out Of Scope</h1></div>
                <div class="col"><h2></h2></div>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Domain</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let outscope of program.outOfScope">
                        <td>{{outscope}}</td>
                      </tr>

                    </tbody>
                  </table>
            </div>
        </div>
      </form>
</section>
