#container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 50%;
  background-color: #1a2332;
  padding: 0;
  border-radius: 4px;
  color: #505e6c;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
  margin-top: 50px;
  
}
.my-flex {
  width:90%;
  margin: 0 auto;
}
:host ::ng-deep .mat-tab-label{
    color:#fff;
}


table {
  margin: 0 auto;
}
table th {
  color:#e19c05;
}
table td {
  color: #fff;
}
table td button {
  background-color: transparent;
  border: 0;
}
#ic{
  color:#9fef00;
  background-color: #1a2332;
}
table td button {
  background-color: transparent;
  border: 0;
}
#ic:hover {
  box-shadow:0 0 30px #eff304;
}
::ng-deep .mat-dialog-container {
  background-color: #1a2332;
}
#button1{
  background-color: #1a2332;
  border: 1px solid #9fef00;
}
#button2{
  background-color: rgb(89, 189, 235);
  border: 4px rgb(89, 189, 235) solid;
  box-shadow:6px 6px 4px rgb(132, 218, 240) inset ;

}
#buttontrash{
  background-color:transparent;
  border:none;
}
#buttontrash:hover{
  color:red;
}